.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: gold;
}
.dialog a {
    text-decoration: none;
}
.messages {
    padding: 10px;
}
button {
    border: 2px solid white;
    background-color: white;
    border-radius: 25px;
    width: 150px;
    height: 25px;
    cursor: pointer;
    outline: none;
}
button:hover {
    border: 2px solid black;
    background-color: black;
    color: white;
    transition: .8s;
}
textarea {
    border-radius: 5px;
}
